<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>repo3.eclipse.org</id>
      <username>${env.REPO3_TOKEN_USERNAME}</username>
      <password>${env.REPO3_TOKEN_PASSWORD}</password>
    </server>
    <server>
      <id>central</id>
      <username>${env.CENTRAL_SONATYPE_TOKEN_USERNAME}</username>
      <password>${env.CENTRAL_SONATYPE_TOKEN_PASSWORD}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>eclipse.maven.central.mirror</id>
      <name>Eclipse Central Proxy</name>
      <url>https://repo3.eclipse.org/repository/maven-central/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
